.container {
  margin-top: 90px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.tableContainer {
  width: 90vw;
}

.button {
  margin-right: 20px;
}

.shelters {
  width: 100%;
  margin-bottom: 30px;
}

.dropdown {
  width: 100%;
}
